SAUCENAO_API_KEY=your_api_key
SHIMMIE_ENDPOINT=https://shimmie.dev
SHIMMIE_LOGIN=your_login
SHIMMIE_PASSWORD=your_pass
CHIBISAFE_UPLOAD_URL=https://chibisafe.moe/api/upload
CHIBISAFE_API_KEY=your_api_key
DANBOORU_LOGIN=optional-your_login
DANBOORU_KEY=optional-your_key
GELBOORU_ID=optional-your_user_id
GELBOORU_KEY=optional-your_key
TAGGER_URL=http://sd-webui:7860/tagger/v1/interrogate
TAGGER_MODEL=wd-v1-4-moat-tagger.v2
TAGGER_THRESHOLD=0.35